<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Form</title>
</head>
<body>
<h1>Booking</h1>
<form th:action="@{${formAction}}" th:object="${item}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Confirmation Code</label>
        <input type="text" th:field="*{confirmationCode}"/>
    </div>
    <div>
        <label>Event Id</label>
        <input type="text" th:field="*{eventId}"/>
    </div>
    <div>
        <label>User Id</label>
        <input type="text" th:field="*{userId}"/>
    </div>
    <div>
        <label>Total Price</label>
        <input type="text" th:field="*{totalPrice}"/>
    </div>
    <div>
        <label>Discount Code</label>
        <input type="text" th:field="*{discountCode}"/>
    </div>
    <div>
        <label>Status</label>
        <input type="text" th:field="*{status}"/>
    </div>
    <button type="submit">Save</button>
</form>
<p><a th:href="@{/ui/bookings}">Back</a></p>
</body>
</html>